[Desktop Entry]
Version=1.0
Type=Application
Name=BrowseMES
Name[ru]=МЭС
Comment=
Icon=/opt/client/icons/s11.png
Exec=/opt/client/install/bin/BrowseMES.sh
Path=/opt/client
Terminal=false
StartupNotify=false
