[Desktop Entry]
Version=1.0
Type=Application
Name=importReestr23
Name[ru]=ИмпортРеестр
Comment=
Icon=/opt/client/icons/s11.png
Exec=/opt/client/install/bin/importReestr23.sh
Path=/opt/client/
Terminal=false
StartupNotify=false
