<HTML><BODY>
{setPageSize('A4')}
{setOrientation('L')}
{setLeftMargin(150)}
{setTopMargin(5)}
{setBottomMargin(5)}
{setRightMargin(5)}
<SMALL><SMALL><SMALL>
<TABLE BORDER=0 WIDTH="100%" cellpadding="0" cellspacing="0">
<TR><TD align="left"   COLSPAN=3>Министерство здравоохранения и социального развития РФ</TD>
    <TD align="right"  COLSPAN=2>Медицинская документация</TD></TR>
<TR><TD align="right"  COLSPAN=5>Форма N 025/у-04</TD></B></TR>
<TR><TD align="left"   COLSPAN=2><B><u>{currentOrganisation.shortName}</u></B></TD>
    <TD align="right"  COLSPAN=3><FONT FACE="Code 3 de 9" SIZE=+2>*{client.id}*</FONT></TD></TR>
<TR><TD align="left"   COLSPAN=2><B><i>Отдел платных услуг</i></B></TD>
    <TD align="right"  COLSPAN=3>
    {if:len(client.socStatuses)}
    <TABLE BORDER=3>
    <TR><TD ALIGN="center" VALIGN="center" WIDTH=100 HEIGHT=100><FONT SIZE=+2>
      Л {client.socStatuses[-1].code}
    </TR></TD></FONT></TABLE>
   {end:}
</TD></TR>
<TR><TD><BR/></TD></TR>
</SMALL></SMALL>
<TR><TH COLSPAN=5><BIG>МЕДИЦИНСКАЯ КАРТА АМБУЛАТОРНОГО БОЛЬНОГО № <FONT SIZE=+2><B><i>{client.id}</i></B></FONT></BIG></TH></TR>
</TABLE><BR/><BR/>
<HR>                
<FONT SIZE=+2>
<CENTER><B>{client.lastName}</B></CENTER><BR/>
<CENTER><B>{client.firstName} {client.patrName}</CENTER></B>
</FONT>
<HR>
СНИЛС:<B>{client.SNILS}</B><BR/>
Дата рождения:  <B>{client.birthDate}</B>(<B>{client.age}</B>)<BR/>
Пол: <B>{client.sex}</B><BR/>
Документ: <B>{client.document}</B><BR/>
Полис:<B>{client.policy}</B><BR/>
Адрес регистрации:<B>{client.regAddress}</B><BR/>
Адрес проживания: <B>{client.locAddress}</B><BR/>
Тел:<B>{client.phones}</B><BR/>
Место работы:<B>{client.work.shortName}</B><BR/>
должность:<B>{client.work.post}</B><BR/>
ОКВЕД:<B>{client.work.OKVED}</B><BR/>
<HR>
Дата:<B>{currentDate}</B><BR/>
Время:<B>{currentTime}</B><BR/>
</SMALL>
</BODY></HTML>

