<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta name="qrichtext" content="1" />
</head>
<body style=" font-family:'MS Shell Dlg 2'; font-size:8pt; font-weight:400; font-style:normal;">
<table width=100% cellpadding=50 cellspacing=0>
<tr><td width=50%>
<table cellpadding=0 cellspacing=0>
<tr><td align="center"><b>ОКОНЧАТЕЛЬНЫЙ ДИАГНОЗ</b></td></tr>
<tr><td>__</td></tr>
<tr><td>__</td></tr>
<tr><td>нуждается в дообследовании (каком) __</td></tr>
<tr><td>__</td></tr>
<tr><td>нуждается в амбулаторном лечении (у кого) __</td></tr>
<tr><td>нуждается в стационарном лечении (где) __</td></tr>
<tr><td>нуждается в диспансерном наблюдении (у кого)</td></tr>
<tr><td><big>По профессии: годен полностью, не годен, годен без __</big></td></tr>
<tr><td>__</td></tr>
<tr><td>__</td></tr>
<tr><td align="center"><b>ЗАКЛЮЧЕНИЕ</b></td></tr>
<tr><td><table cellpadding=0 cellspacing=0 border="1" width=100%>
<tr><td><table width=100%>
<tr><td align="center">{u"СПб ГУЗ Городская поликлиника №120"}</td></tr>
<tr><td align="center"><b>{u"Профпатолог"}</b></td></tr>
<tr><td><b>Годен к работе</b> ___</td></tr>
<tr><td><table cellpadding=0 cellspacing=0><tr><td width=40%><b>Согласно Приказу</b></td><td><b>№_____</b></td></tr></table></td></tr>
<tr><td><b>прил.</b> ___ <b>п.п.</b> ____</td></tr>
<tr><td align="center">"_____" ______________ 200__ г. Врач __________</td></tr>
</table></td></tr>
</table></td></tr>
</table>
</td>

<td width=50%>
<table cellpadding=0 cellspacing=0>
<tr><td align="center">{u"СПб ГУЗ Городская поликлиника №120"}</td></tr>
<tr><td align="center"><b>КАРТА ПРОФИЛАКТИЧЕСКОГО ОСМОТРА</b></td></tr>
<tr><td>Дата осмотра ______________</td></tr>
<tr><td></td></tr>
<tr><td>ФИО: {u"..."}</td></tr>
<tr><td><table cellpadding=0 cellspacing=0><tr><td width=25%>ДР: {u"..."}</td><td width=25%>Пол: {u"..."}</td><td>СНИЛС: {u"..."}</td></tr></table></td></tr>
<tr><td>Док: {u"..."}</td></tr>
<tr><td>Полис: {u"..."}</td></tr>
<tr><td>Рег: {u"..."}</td></tr>
<tr><td>Прож: {u"..."}</td></tr>
<tr><td>Занятость: {u"..."}</td></tr>
<tr><td>{u"..."}</td></tr>
<tr><td>Вредность: {u"..."}</td></tr>
<tr><td>Факторы: {u"..."}</td></tr>
<tr><td>Стаж работы во вредных условиях труда: {u"..."}</td></tr>
<tr><td>Профмаршрут __________</td></tr>
<tr><td>____________</td></tr>
<tr><td></td></tr>
</table>
</td></tr>
</table>
</body>
</html>