<HTML><BODY>
код: {client.id}&nbsp;<FONT FACE="Code 3 de 9" SIZE=+3>*{client.id}*</FONT><BR/>
ФИО: <B>{client.fullName}</B><BR/>
ДР:  <B>{client.birthDate}</B> (<B>{client.age}</B>),&nbsp;Пол: <B>{client.sex}</B>,&nbsp;СНИЛС: <B>{client.SNILS}</B><BR/>
<B>{client.document}</B>. Полис: <B>{client.policy}</B>
<HR>
{visit.type}<BR/>
<B>{person.fullName}</B> (<B>{person.specialityName}</B>) прием <B>{visit.timeRange}</B><BR/>
<HR>
явится <B>{visit.date}</B> в кабинет № <B>{visit.office}</B>. Время: <B>{visit.time}, #{visit.num}</B>
</BODY></HTML>
