<html>
<body style="font-family: Arial; font-size: 8pt; color: black;">
{setPageSize('A4')}
{setOrientation('Portrait')}
{setMargins(5)}
{action.endDate}. Осмотр {action.name} ({action[u'место'].value if action[u'место'].value else '' })
<HR>
<table style="font-family: Arial; font-size: 9pt; color: black;" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td colspan="3"><b>Жалобы:</b>
 {action[u'жалобы'].value if action[u'жалобы'].value else ''} </td>
</tr>
<tr>
<td colspan="3"><b>Объективно:</b> состояние
 {action[u'состояние'].value if action[u'состояние'].value else '' }
</td>
</tr>
<tr>
<td colspan="3"><b>Кожа</b>
 {action[u'кожа'].value if action[u'кожа'].value else '' }
<b> Зев </b>
 {action[u'зев'].value if action[u'зев'].value else '' }
</td>
</tr>
<tr>
<td colspan="3"><b>ЛОР-органы</b>
 {action[u'ЛОР-органы'].value if action[u'ЛОР-органы'].value else '' }</td>
</tr>
<tr>
<td colspan="3"><b>Глаза</b>
 {action[u'глаза'].value if action[u'глаза'].value else ''} </td>
</tr>
<tr>
<td colspan="3"><b>Пульс</b>
 {action[u'пульс'].value if action[u'пульс'].value else ''}
<b>Тоны сердца</b>
 {action[u'тоны сердца'].value if action[u'тоны сердца'].value else '' }</td>
</tr>
<tr>
<td colspan="3"><b>АД</b>
 {action[u'АД'].value if action[u'АД'].value else '' }
<b>. В легких дыхание</b>
 {action[u'дыхание'].value if action[u'дыхание'].value else '' }
<b>, хрипы</b>
 {action[u'хрипы'].value if action[u'хрипы'].value else ''} 
</td>
</tr>
<tr>
<td colspan="3"><b>Живот</b>
 {action[u'живот'].value if action[u'живот'].value else ''} 
<b>Печень</b>
 {action[u'печень'].value if action[u'печень'].value else '' }</td>
</tr>
<tr>
<td colspan="3"><b>Селезенка</b>
 {action[u'селезенка'].value if action[u'селезенка'].value else '' }</td>
</tr>
<tr>
<td colspan="3"><b>Периферические лимф.узлы</b>
 {action[u'периф.лиф.узлы'].value if action[u'периф.лиф.узлы'].value else '' }
<b>Отеки</b>
 {action[u'отеки'].value if action[u'отеки'].value else ''} </td>
</tr>
<tr>
<td colspan="3"><b>Суставы</b>
 {action[u'суставы'].value if action[u'суставы'].value else '' }</td>
</tr>
<tr>
<td colspan="3"><b>Неврологический статус</b>
 {action[u'неврологический статус'].value if action[u'неврологический статус'].value else '' }</td>
</tr>
<tr>
<td colspan="3"><b>Психологический статус</b>
 {action[u'психологический статус'].value if action[u'психологический статус'].value else '' }</td>
</tr>
<tr>
<td colspan="3"><b>Диагноз</b>
 {action[u'диагноз'].value if action[u'диагноз'].value else '' }</td>
</tr>
<tr>
<td colspan="3"><b>Рекомендовано:</b>
 {action[u'рекомендации'].value if action[u'рекомендации'].value else '' }</td>
</tr>
</tbody>
</table>
<HR>
<B>Примечание</B> {action.note}

{for: a in actions}
{if: a.name ==u'Назначения'}
<TABLE BORDER="1" WIDTH="100%" CELLSPACING="0" CELLPADDING="2" STYLE="font-family: Arial; font-size: 8pt; color: black">
    <TR> <TH COLSPAN=1> №  </TH> 
         <TH COLSPAN=4> Наименование </TH>
    </TR>
{:l = [x for x in a if x.value==u'назначить']}
{for:  i,prop in enumerate(l)}

    <TR> <TD align="left"   COLSPAN=1> { i+1 }  </TD> 
         <TD align="left"   COLSPAN=4> { prop.name }  </TD>
    </TR>
    {end:}
</TABLE>

{end:}
{end:}


</body></html>
