<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta http-equiv="content-type" content="text/html; charset=Windows-1251">

{setPageSize('A5')}
{setOrientation('Portrait')}
{setMargins(5)}

</head>
<body style="font-family:Arial; font-size:7pt; color:#000000">
<table style="text-align: left; width: 100%;" border="0" cellpadding="0" cellspacing="0">
<tr>
<td style="text-align: left;" width="35%"><small><small>Министерство здравоохранения<br>и социального развития<br>Российской Федерации<br>
<br>Лечебно-профилактическое учреждение:<br>штамп</small></small>
<span><table border="1" cellpadding="2" cellspacing="0"><tr><td>1234</td></tr></table></span>
<br>код ОГРН<table border="1" cellpadding="2" cellspacing="0"><tr><td>1037821049793</td></tr></table>
</td>
<td width="30%" valign="top" align="center">{pdf417(p38test()):h}</td>
<td width="35%" valign="top" align="right"><small><small>УТВЕРЖДЕНА<br>
приказом Министерства<br>
здравоохранения и<br>
социального развития<br>
Российской Федерации<br>
от 12 февраля 2007 г. №110<br>
<br>
Код формы<br>
по ОКУД&nbsp;3108805<br>
Форма № 148-1/y-06 (л</small>
)</small></td>
</tr>
<tr>
<td rowspan="1" colspan="3">
<table width="100%" border="1" cellpadding="0" cellspacing="0">
<tr>
<td valign="top" align="center"><small>Код<br>категории<br>граждан</small></td>
<td valign="top" align="center"><small>Код нозологической<br>формы (по МКБ-10)</small></td>
<td valign="top" align="center"><small>Источник финансирования:</small></td>
<td valign="top" align="center"><small>% оплаты из<br>источника<br>финансирования:</small></td>
<td valign="top" align="center"><small>Рецепт<br>действителен в<br>течение:</small></td>
</tr>

<tr>
<td align="center">082</td>
<td align="center">E89.0</td>
<td align="center">Федеральный</td>
<td align="center">100%</td>
<td align="center">1 мес.</td>
</tr>
</table>
</td>
</tr>
<tr>
<td align="center" colspan="3" rowspan="1"><big><big><b>РЕЦЕПТ
Серия 4000 № 4105100001072928 от <span style="border: 1px solid black; margin: 2px; padding: 2px;">01.02.2007</span></b></big></big></td>
</tr>
<tr>
<td colspan="3">

<table width="100%" border="0" cellpadding="1" cellspacing="0" align="left" valign="top">
<tr>
<td>Ф.И.О.пациента</td>
<td colspan="4">ИВАНОВ ВЛАДИМИР АЛЕКСАНДРОВИЧ</td>
</tr>
<tr>
<td width="25%">Дата рождения:</td>
<td width="25%"><span stype="border: 1px solid black; margin: 2px; padding: 2px;">20.03.1940</span>
</td>
<td width="1px"></td>
<td width="25%">СНИЛС:</td>
<td width="25%"><span stype="border: 1px solid black; margin: 2px; padding: 2px;">091-435-213 48</span></td>
</tr>
<tr>
<td>№ полиса ОМС:</td>
<td colspan="4"><span stype="border: 1px solid black; margin: 2px; padding: 2px;">НМК 3020818</span></td>
</tr>
<tr>
<td colspan="4" rowspan="1">№ медицинской карты амбулаторного больного (история развития ребёнка)</td>
<td></td>
</tr>
<tr>
<td>Адрес:</td>
<td colspan="4">Космонавтов пр, д.29, к.8 кв. 67</td>
</tr>
<tr>
<td>Ф.И.О. врача (фельдшера):</td>
<td colspan="4"></td>
</tr>
<tr height="1px" style="font-size:1px;">
<td colspan="2"></td>
<td colspan="3" style="background-color: #000000"></td>
</tr>
<tr>
<td>Код врача (фельдшера):</td>
<td>3212</td>
<td width="1px" style="background-color: #000000"></td>
<td colspan="2"><small><i>(заполняется специалистом аптечного учреждения)</i></small></td>
</tr>
<tr>
<td align="left" valign="top" colspan="2" rowspan="1"><b>Выписано:</b><br>
Rp: Levothyroxinum naturicum<br>
<br>
D.t.d.<br>
Дозировка: 100 мкг<br>
Количество единиц: 1,00<br>
Signa:<br>
Подпись врача (фельдшера)<br>
и личная печать врача (фельдшера)<br>
..................................................<br>
<div style="text-align: right;">М.П.</div>
</td>
<td width="2px" style="background-color: #000000"></td>
<td colspan="2" align="left" valign="top"><b>Отпущено
по рецепту:</b><br>
Дата отпуска:<br>
..................................................<br>
Код лекарственного средства:<br>
..................................................<br>
Торговое наименование:<br>
..................................................<br>
Количество:<br>
..................................................<br>
На общую сумму:<br>
..................................................<br>
</td>
</tr>
</table>
</td><td></td>
</tr>
<tr>
<td colspan="3" align="center"><small><i>------------------------------------------------------&nbsp;(линия
отрыва)&nbsp;------------------------------------------------------</i></small></td>
</tr>
<tr>
<td align="center" colspan="3" rowspan="1"><big><b>Корешок РЕЦЕПТА
Серия 4000 № 4105100001072928 от 01.02.2007</b></big></td><td></td>
</tr><tr><td colspan="3" rowspan="1">
<table align="left" width="100%" border="0" cellpadding="0" cellspacing="0">
<tr><td colspan="5" rowspan="1">Способ применения:</td></tr><tr><td width="20%">Продолжительность</td><td width="20%"></td><td width="10%">дней</td><td width="50%" colspan="2" rowspan="1">Наименование лекарственного средства:</td></tr>
<tr><td>Колчество приёмов в день:</td><td>&nbsp;</td><td>раз</td><td colspan="2" rowspan="1"></td></tr>
<tr><td>На 1 приём:</td><td></td><td>ед.</td><td width="20%">Дозировка:</td><td width="30%"></td></tr></table>
</td><td></td></tr>
</table>
<br>
<br>
<br>
</body></html>