<HTML>
<BODY>
<H1>%datetime ТАЛОН АМБУЛАТОРНОГО ПАЦИЕНТА</H1>
<TABLE BORDER=0 WIDTH="100%" cellpadding="0" cellspacing="0">
<TR><TD>ФИО</TD><TD COLSPAN=5>%name</TD></TR>
<TR><TD>Пол</TD><TD>%sex</TD><TD>Дата рождения</TD><TD>%birth</TD><TD>Тел</TD><TD>%phone</TD>
<TR><TD>Полис ОМС</TD><TD COLSPAN=5>%polis</TD></TR>
<TR><TD>Документ</TD><TD COLSPAN=5>%doc</TD></TR>
<TR><TD>Прописан</TD><TD COLSPAN=5>%regaddr</TD></TR>
<TR><TD>Проживает</TD><TD COLSPAN=5>%locaddr</TD></TR>
<TR><TD COLSPAN=6>Организован: 1-Да, 2-Нет.  Ясли-Сад ___, Школа № ___ ГЗ 123</TD></TR>
</TABLE>
<H2>СЛУЧАЙ ПОЛИКЛИНИЧЕСКОГО ОБЛУЖИВАНИЯ</H2>
<TABLE BORDER=0 WIDTH="100%" cellpadding="0" cellspacing="0">
<TR><TD VALIGN="TOP"><SMALL>Цель:</SMALL></TD>           <TD COLSPAN=2><SMALL>1-Леч.Диагн.,2-Консультант., 3-Диспансер., 4-Профилакт., 5-Проф.осмотр, 6-Реабилитация, 9-Прочее</SMALL></TD></TR>
<TR><TD VALIGN="TOP"><SMALL>Случай:</SMALL></TD>         <TD COLSPAN=2><SMALL>1-Первичный, 2-Повторный</SMALL></TD></TR>
<TR><TD VALIGN="TOP"><SMALL>Законченность:</SMALL></TD>  <TD COLSPAN=2><SMALL>1-Закончен, 2-Не законченный, 3-Посещение</SMALL></TD></TR>
<TR><TD VALIGN="TOP"><SMALL>Исход:</SMALL></TD>          <TD COLSPAN=2><SMALL>1-Выздоровление, 2-Ремиссия, 2-Госпитализация, 4-Напр.в Др.ЛПУ, 5-Инвалид, 6-Смерь, 9-Прочее</SMALL></TD></TR>
<TR><TD VALIGN="TOP"><SMALL>Инвалидность:</SMALL></TD>   <TD COLSPAN=2><SMALL>1-Уст.впервые, 2-Подтверждена, 3-Усилена, 4-Снижена, 5-Снята</SMALL></TD></TR>
<TR><TD VALIGN="TOP"><SMALL>Группа:</SMALL></TD>         <TD><SMALL>1,2,3,4,Д</SMALL></TD><TD><SMALL>Дата освидетельствования __/__/______</SMALL></TD></TR>
</TABLE>


<H2>4. ЗАБОЛЕВАНИЯ</H2>
<TABLE BORDER=2 WIDTH="100%" cellpadding="0" cellspacing="0">
<TR>
    <TD VALIGN="TOP" WIDTH="5%">№</TD>
    <TD VALIGN="TOP" WIDTH="45%">Наименование диагноза заболевания</TD>
    <TD VALIGN="TOP" WIDTH="10%">Код по МКБ</TD>
    <TD VALIGN="TOP" WIDTH="10%">Хар. забол.</TD>
    <TD VALIGN="TOP" WIDTH="10%">Дисп учет</TD>
    <TD VALIGN="TOP" WIDTH="10%">Прич снят</TD>
    <TD VALIGN="TOP" WIDTH="10%">Травма</TD>
</TR>
<TR><TD>1</TD><TD>&nbsp;</TD><TD>&nbsp;</TD><TD>&nbsp;</TD><TD>&nbsp;</TD><TD>&nbsp;</TD><TD>&nbsp;</TD></TR>
<TR><TD>2</TD><TD>&nbsp;</TD><TD>&nbsp;</TD><TD>&nbsp;</TD><TD>&nbsp;</TD><TD>&nbsp;</TD><TD>&nbsp;</TD></TR>
</TABLE>
<TABLE BORDER=0 WIDTH="100%" cellpadding="0" cellspacing="0">
<TR><TD VALIGN="TOP"><SMALL>Характер:</SMALL></TD>  <TD COLSPAN=2 VALIGN="TOP"><SMALL>1-Острое, 2-Хрон.выявл.впервые, 3-Ранее зарег.хрон, 4-Острое хрон.забол.,выявл.прервые, 5-обостр.хрон</SMALL></TD></TR>
<TR><TD VALIGN="TOP"><SMALL>Дисп.учет:</TD>         <TD COLSPAN=2 VALIGN="TOP"><SMALL>1-Состоит, 2-Взят, 3-Снят</SMALL></TD></TR>
<TR><TD VALIGN="TOP"><SMALL>Прич.снят:</TD>         <TD COLSPAN=2 VALIGN="TOP"><SMALL>1-Выздоровление, 2-Переезд, 3-Переезд, 4-Прочее</SMALL></TD></TR>
<TR><TD VALIGN="TOP"><SMALL>Травма:</SMALL></TD>    <TD VALIGN="TOP"><SMALL>Произв:</SMALL></TD><TD><SMALL>1-Промышл, 2-С/Х, 3-Строит, 4-Дор.-трансп, 5-Прочее</SMALL></TD></TR>
<TR><TD VALIGN="TOP"><SMALL>&nbsp;</SMALL></TD>     <TD VALIGN="TOP"><SMALL>Не связ.произв:</SMALL></TD><TD><SMALL>6-Бытовая, 7-Уличная, 8-Дор.-трансп, 9-Школьная, 10-Спорт, 11-Прочее</SMALL></TD></TR>
</TABLE>
<H2>5. ПОСЕЩЕНИЯ</H2>
<TABLE BORDER=2 WIDTH="100%" cellpadding="0" cellspacing="0">
<TR>
    <TD VALIGN="TOP" WIDTH="5%">№</TD>
    <TD VALIGN="TOP" WIDTH="15%">Дата посещения</TD>
    <TD VALIGN="TOP" WIDTH="30%">Врач</TD>
    <TD VALIGN="TOP" WIDTH="30%">Специальность</TD>
    <TD VALIGN="TOP" WIDTH="10%">Цель</TD>
    <TD VALIGN="TOP" WIDTH="10%">Место</TD>
</TR>
<TR><TD>1</TD><TD>&nbsp;</TD><TD>&nbsp;</TD><TD>&nbsp;</TD><TD>&nbsp;</TD><TD>&nbsp;</TD></TR>
<TR><TD>2</TD><TD>&nbsp;</TD><TD>&nbsp;</TD><TD>&nbsp;</TD><TD>&nbsp;</TD><TD>&nbsp;</TD></TR>
</TABLE>
<TABLE BORDER=0 WIDTH="100%" cellpadding="0" cellspacing="0">
<TR><TD VALIGN="TOP"><SMALL>Цель посещения:</SMALL></TD><TD VALIGN="TOP"><SMALL>1-Леч.-диаг, 2-Консультант, 3-Дисп.набл., 4-Профилакт, 5-Проф.осмотр, 6-Реабилитац.</SMALL></TD></TR>
<TR><TD VALIGN="TOP"><SMALL>Место посещения:</SMALL></TD><TD VALIGN="TOP"><SMALL>1-Амбулаторно, 2-На дому, 3-Стац.дневной, 4-Стац, 5-Актив на дому.</SMALL></TD></TR>
</TABLE>

</BODY>
</HTML>
