<HTML>
 <BODY>
   {:setPageSize('30x22')}
   {:setOrientation('P')}
   {:setLeftMargin(0)}
   {:setTopMargin(1)}
   {:setRightMargin(0)}
   {:setBottomMargin(0)}
    <TABLE BORDER=0 WIDTH="100%" cellpadding="0" cellspacing="0" STYLE="font-family: Courier New; font-size: 7pt; color: black">
      <TR><TD ALIGN="center" style="white-space:pre; font-family:code 128; font-size:32pt;">{code128('%02d%06d'%(serial,number))}</TD></TR>
      <TR><TD ALIGN="center" style="font-weight:bold;">{'%02d#%06d'%(serial,number)}</TD></TR>
   </TABLE>
 </BODY>
</HTML> 

